#wrap {
  margin: 0px auto;
}

#header {
  width: 100%;
  border-top-color: rgb(255, 183, 0);
  border-top-width: 3px;
  border-top-style: solid;
  z-index: 1009;
  min-width: 980px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
  word-break: normal;
}

.headerTop {
  margin: 0px auto;
  width: 100%;
  height: 90px;
  position: relative;
}

.headerTop .top_link {
  margin: 0px auto;
  width: 980px;
}

html {
  font-size: 13px;
  font-family: "NotoSansCJKkr", sans-serif;
  font-weight: 400;
  color: #555;
}

.headerTop .top_link h1 {
  /* top: 15px; */
  position: absolute;
  top: -10px;
}

* {
  box-sizing: border-box;
}

.headerTop .top_link h1 img {
  width: 100%;
}

body {
  line-height: 1;
  word-break: break-all;
  -ms-word-break: break-all;
}

ol,
ul,
dl,
li,
menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info .footLogo img {
  width: 70%;
}

.headerTop .top_link ul {
  margin-top: 15px;
  float: right;
}

.headerTop .top_link ul li a {
  padding: 0px 3px;
  color: rgb(119, 119, 119);
  font-size: 1em;
}

.headerTop .top_link ul > li {
  padding-left: 10px;
  float: left;
}

.headerTop .top_link ul > li:first-child {
  background: none;
}

a,
p {
  color: #333;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

.headerBottom {
  margin: 0px auto;
  width: 100%;
  height: 58px;
  position: relative;
  z-index: 99;
}

.headerBottom .mainMenu {
  margin: 0px auto;
  width: 980px;
  overflow: hidden;
  display: table;
}

.csp {
  cursor: pointer;
}

.policy .policyBtn {
  width: 20%;
  display: flex;
  float: right;
  justify-content: space-around;
}

#nav {
  background-position: top;
  width: 100%;
  height: 95px;
  background-color: rgb(255, 183, 0);
  background-repeat: no-repeat;
  background-size: cover;
}

#nav .navBox {
  margin: 0px auto;
  width: 980px;
  height: 60px;
  color: rgb(255, 255, 255);
  padding-top: 25px;
}

#nav .navBox ul {
  margin: 0px;
  padding-top: 45px;
  padding-left: 20px;
}

#nav .navBox ul li {
  padding: 0px 16px 0px 10px;
  font-weight: 400;
  float: left;
}

#nav .navBox::after {
  clear: both;
  display: block;
  content: "";
}

#nav .navBox ul li.home {
  padding-left: 0px;
}

#container {
  margin: auto;
  padding: 30px 0px;
  width: 980px;
  min-height: 680px;
}

#container-contents {
  width: 760px;
  display: inline-block;
  position: relative;
}

#content {
  width: 100%;
  margin-bottom: 40px;
}

#container-contents::after {
  clear: both;
  display: block;
  content: "";
}

#snb {
  width: 190px;
  margin-right: 30px;
  margin-bottom: 50px;
  float: left;
  position: relative;
}

#snb h3 {
  color: rgb(51, 51, 51);
  line-height: 1.4;
  padding-bottom: 24px;
  font-size: 22px;
  font-weight: 500;
  border-bottom-color: rgb(96, 96, 104);
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

#snb .menuList li {
  background: rgb(255, 255, 255);
  position: relative;
}

#snb .menuList li a {
  padding: 12px 0px 12px 10px;
  color: rgb(51, 51, 51);
  font-size: 15px;
  font-weight: 400;
  border-bottom-color: rgb(238, 239, 243);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  position: relative;
}

.depth_title {
  margin-bottom: 20px;
  border-bottom-color: rgb(227, 227, 232);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
}

.depth_title h2 {
  color: rgb(0, 0, 0);
  line-height: 1.3;
  letter-spacing: -1px;
  padding-bottom: 14px;
  font-size: 2.2em;
  font-weight: 700;
}

.quickMenu {
  border-radius: 3px;
  border: 1px solid rgb(211, 213, 217);
  background-color: white;
  border-image: none;
  top: 205px;
  width: 86px;
  right: 17%;
  position: fixed;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.quickMenu h3 {
  margin: 0px 10px;
  height: 42px;
  text-align: center;
  color: rgb(51, 51, 51);
  line-height: 3;
  font-size: 14px;
  font-weight: 500;
  border-bottom-color: rgb(239, 239, 239);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
}

.quickMenu ul {
  background: rgb(255, 255, 255);
  padding: 8px 0px 2px;
}

.quickMenu ul li {
  background: rgb(255, 255, 255);
  margin: 20px 0px;
  text-align: center;
  font-size: 12px;
}

.quickMenu ul li a {
  text-align: center;
  color: rgb(154, 154, 162);
  display: block;
}

.quickMenu ul li span {
  padding: 6px 0px 10px;
  color: rgb(102, 102, 102);
  line-height: 1;
  display: block;
}

.gotoTop {
  height: 42px;
  text-align: center;
  padding: 6px;
  font-size: 15px;
  border-top-color: rgb(239, 239, 239);
  border-top-width: 1px;
  border-top-style: solid;
  display: block;
}

#footer {
  width: 100%;
  padding-bottom: 20px;
  display: inline-block;
  background-color: gainsboro;
}

.policy {
  height: 40px;
  margin: 0px auto;
  padding: 10px 0px;
  width: 980px;
  display: block;
}

.policy ul li {
  padding-left: 15px;
  float: left;
}

.policy ul {
  overflow: hidden;
  padding-top: 4px;
  float: left;
}

.policyBtn a {
  background-color: #f9f9fc;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 4px;
  padding: 2px 3px;
}

.policy::after {
  clear: both;
  display: block;
  content: "";
}

.info {
  margin: 0px auto;
  width: 980px;
  padding-bottom: 10px;
}

.info .footLogo {
  float: left;
}

.info .add {
  padding: 0px 20px;
  float: left;
}

.info .add p {
  color: rgb(102, 102, 102);
  line-height: 1.6;
  padding-top: 3px;
  font-size: 12px;
}

p {
  line-height: 1.8;
}

@media (max-width: 1300px) {
  .quickMenu {
    display: none;
  }
}

.headerBottom {
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 500;
  border-bottom: 1px solid #333;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.headerBottom > div {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.mainMenu > li {
  display: block;
  float: left;
  box-sizing: border-box;
}
.mainMenu > li > a {
  position: relative;
  display: block;
  width: 180px;
  padding: 18px 0;
}

.subMenu {
  display: none;
  background: #fff;
}

.mainMenu li:hover .subMenu {
  display: block;
  border: 1px solid goldenrod;
}

.mainMenu li:hover {
  font-weight: bold;
}

.subMenu > li > a {
  position: relative;
  display: block;
  width: 180px;
  padding: 18px 0;
}

.mainMenu li:hover .subMenu li:hover {
  background-color: rgba(243, 243, 243, 0.55);
}

a.holder:hover {
  background-color: rgba(243, 243, 243, 0.55);
}

.find_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid gainsboro;
  height: 600px;
  border-radius: 5px;
}

.inputBox {
  margin: 10px auto;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px 10px;
  width: 300px;
  outline: none;
  color: #201818;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.inBlock {
  display: inline-block;
}

.comBtn {
  /* display: flex; */
  border: 0;
  background: gainsboro;
  color: #201818;
  border-radius: 8px;
  width: 90px;
  height: 39px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-left: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.visible {
  visibility: visible;
}
.hide {
  visibility: hidden;
  background-color: white;
}

.hiddenSt {
  /* position: absolute; */
  display: none;
  color: rgb(255, 183, 0) !important;
  font-size: small !important;
  font-weight: bold !important;
}

.submitBtn {
  border: 0;
  background: gainsboro;
  color: #201818;
  border-radius: 8px;
  width: 410px;
  height: 39px;
  line-height: 40px;
  /* position: absolute; */
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 90px;
  transition: 0.3s;
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 430px;
  margin-left: 90px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  border-radius: 10px;
  background-color: rgba(238, 235, 235, 0.418);
  pointer-events: none;
  /* 고려하기 */
  padding: 17px;
}

.modla-content {
  max-width: 500px;
  width: 800px;
  /* height: 10px; */
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: scale(0.8);
}

.modal-text {
  width: 410px;
  text-align: justify;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}
.madal.show .modal-content {
  opacity: 1;
  transform: scale(1);
}
.close {
  color: #aaa;
  float: right;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.quset {
  margin-left: 80px;
}
.close:hover {
  color: black;
}

.quset:hover {
  font-weight: bold;
  color: rgb(255, 183, 0);
  cursor: pointer;
}

.comBtn:hover,
.submitBtn:hover {
  background-color: rgb(255, 183, 0);
  font-weight: bold;
}
