.tapHead {
  display: inline-flex;
  border: 1px rgb(255, 183, 0) solid;
  width: 25%;
  height: 35px;
  font-size: larger;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.click {
  background-color: rgb(255, 183, 0);
}
.hidden {
  display: none;
}
